:root {
  --brand-color: #a760ff;
  --primary-color: #ffdaaf;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.project-description h2 {
  font-size: 64px;
}
.project-description {
  padding: 10px 60px;
  text-align: center;
}
.projects-section {
  background-color: pink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.tech-skills {
  display: flex;
  justify-content: center;
}
.tech-skills > p {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
}
.wrapper {
  background: var(--primary-color);
  padding: 200px 0px 100px;
}
.main-body {
  text-align: center;
}
.main-body h1 {
  font-size: 96px;
  line-height: 1.5;
}
.main-body p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.main-body h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
}
.main-body h3 {
  font-size: 20px;
  border-right: 2px solid var(--brand-color);
  padding-right: 20px;
}
.main-body .tech-section {
  align-items: center;
  padding-top: 80px;
  display: flex;
  margin: 0px;
  justify-content: center;
}
.main-body li {
  display: inline-block;
  list-style: none;
  padding: 0px 10px;
}
.main-body ul {
  padding-left: 10px;
}

.main-body .btn-branded,
.project-description .btn-branding-projects,
.content .btn-branded,
.contact-box .btn-branded {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 150ms ease-in-out;
}
.main-body .btn-branded,
.content .btn-branded,
.contact-box .btn-branded {
  background: var(--brand-color);
  color: white;
}
.main-body .btn-branded:hover,
.content .btn-branded:hover,
.contact-box .btn-branded:hover {
  background: #1f4690;
  color: white;
  border-color: transparent;
  transition: all 150ms ease-in-out;
}

.project-description .btn-branding-projects {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.content-container {
  padding: 200px 20px;
}

.content h1 {
  font-size: 60px;
  line-height: 1.2;
}
.content h2 {
  font-size: 40px;
  font-family: var(--heading-font-family);
}
.content p {
  font-size: 16px;
  line-height: 30px;
  text-align: unset;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content {
  margin: 45px;
}
.content a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}
.content a:hover {
  color: var(--brand-color);
}
.logo {
  max-height: 130px;
}
nav.navbar-menu {
  padding: 0;
  font-family: var(--default-font-family);
}

nav .container-fluid {
  background-color: var(--primary-color);
}

#navbarNav a.active,
#navbarNav a:hover {
  color: var(--brand-color);
}
#navbar-default-color {
  background-color: white;
}
footer {
  margin: 80px 0px;
}
footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 150px 0px 0px 0px;
}
footer .contact-box h3 {
  font-size: 48px;
  color: white;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link:hover {
  color: var(--brand-color);
}
footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--brand-color);
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--brand-color);
  background-color: var(--primary-color);
}
footer a {
  text-decoration: none;
}
@media (max-width: 960px) {
  .main-body {
    padding: 0px;
  }
  .main-body h1,
  .content h1 {
    font-size: 44px;
  }
  .main-body p {
    font-weight: 400;
  }
  .main-body .tech-section {
    flex-direction: column;
  }
  .main-body h3 {
    border-bottom: 2px solid var(--brand-color);
    border-right: none;
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;
  }
  .project-description h2 {
    font-size: 40px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  footer .contact-box h3 {
    font-size: 25px;
  }

  .content-container {
    text-align: center;
    padding: 20px 0px;
  }
  nav a {
    font-size: 12px;
  }
}
